@import 'styles.scss';

div.glass-dashboard-widget {
  // Needed for box shadow
  margin: 5px;
  height: calc(100% - 10px) !important;
  min-height: calc(100% - 10px) !important;
  width: calc(100% - 10px) !important;
  min-width: calc(100% - 10px) !important;

  .card-body {
    padding: unset;
    background-color: $glass-color-theme-primary-complementary;

    .card-title {
      height: 52px;
      padding: $glass-padding;

      .btn {
        color: $glass-color-black;
      }

      .dropdown-toggle::after {
        display: none;
      }
    }
  }

  &.info {
    box-shadow: 0 0 5px 2px $glass-color-info !important;
  }

  &.success {
    box-shadow: 0 0 5px 2px $glass-color-success !important;
  }

  &.warning {
    box-shadow: 0 0 5px 2px $glass-color-warning !important;
  }

  &.error {
    @extend .glass-color-theme-error;
    box-shadow: 0 0 5px 2px $glass-color-danger !important;
  }
}
