@import 'styles.scss';

$card-title-height: 40px;

div.glass-dashboard-widget {
  .card-body {
    padding: 0;
    background-color: $glass-color-theme-primary-complementary;

    .card-title {
      cursor: pointer;
      height: $card-title-height;
      padding: $glass-padding;

      .btn {
        color: $glass-color-black;
      }

      .dropdown-toggle::after {
        display: none;
      }

      i:before {
        vertical-align: middle;
      }
    }
  }

  &.status-info {
    box-shadow: 0 0 1px 1px $glass-color-info !important;
  }

  &.status-success {
    box-shadow: 0 0 1px 1px $glass-color-success !important;
  }

  &.status-warning {
    box-shadow: 0 0 1px 1px $glass-color-warning !important;
  }

  &.status-error {
    box-shadow: 0 0 1px 1px $glass-color-danger !important;
  }

  &.error {
    @extend .glass-color-theme-error;

    .card-body {
      background-color: transparent;
    }
  }
}
