<glass-widget [loadData]="loadData.bind(this)"
              title="{{ 'Allocated Storage' | translate }}"
              (loadDataEvent)="updateChartData($event)">
  <div class="glass-allocations-dashboard-widget"
       fxLayout="row"
       fxLayoutAlign="start start">
    <ngx-charts-advanced-pie-chart [scheme]="colorScheme"
                                   [results]="chartData"
                                   [animations]="false"
                                   [view]="[500,175]"
                                   [tooltipDisabled]="true"
                                   [valueFormatting]="valueFormatting">
    </ngx-charts-advanced-pie-chart>
  </div>
</glass-widget>
