<glass-widget [loadData]="loadData.bind(this)"
              title="Services"
              [actionMenu]="actions"
              (loadDataEvent)="updateData($event)">
  <div class="glass-services-dashboard-widget"
       fxLayout="row"
       fxLayoutAlign="center center">
    <div *ngIf="data.length === 0"
         class="glass-services-dashboard-widget-no-services">
      <p translate>No services deployed yet.</p>
    </div>
    <div class="glass-services-dashboard-widget-table"
         fxFlex
         fxLayout="column">
      <glass-datatable *ngIf="data.length > 0 && columns"
                       [data]="data"
                       [columns]="columns"
                       [pageSize]="5"
                       [hidePageSize]="true">
      </glass-datatable>
    </div>
  </div>
</glass-widget>

<ng-template #flavor
             let-value="value">
  <span
    [matTooltip]="value | redundancyLevel:'short'"
  >{{value | redundancyLevel:'flavor'}}</span>
</ng-template>
