<div class="glass-services-dashboard-widget"
     [ngClass]="{'error': error}"
     fxLayout="row"
     fxLayoutAlign="center center">
  <div *ngIf="!error && firstLoadComplete && data.length === 0">
    <p>No services deployed yet.</p>
    <button mat-raised-button
            routerLink="/installer/create/deployment">
      <span translate>Deploy a service</span>
    </button>
  </div>
  <div *ngIf="!error"
       class="glass-services-dashboard-widget-table"
       fxFlex
       fxLayout="column">
    <div *ngIf="!firstLoadComplete"
         class="glass-services-dashboard-widget-loader">
      <mat-progress-bar *ngIf="loading"
                        mode="indeterminate">
      </mat-progress-bar>
    </div>
    <table mat-table
           fxFlexFill
           *ngIf="firstLoadComplete && data.length > 0"
           [dataSource]="data">
      <ng-container matColumnDef="name">
        <th mat-header-cell
            translate
            *matHeaderCellDef>Name</th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell
            translate
            *matHeaderCellDef>Type</th>
        <td mat-cell
            *matCellDef="let element">{{element.type}}</td>
      </ng-container>

      <!-- Not available ATM therefore hidden -->
      <ng-container matColumnDef="space">
        <th mat-header-cell
            translate
            *matHeaderCellDef>Space</th>
        <td mat-cell
            *matCellDef="let element">na</td>
      </ng-container>

      <!-- Not available ATM therefore hidden -->
      <ng-container matColumnDef="redundancy">
        <th mat-header-cell
            translate
            *matHeaderCellDef>Redundancy Level</th>
        <td mat-cell
            *matCellDef="let element">na</td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-icon *ngIf="error"
            svgIcon="mdi:lan-disconnect">
  </mat-icon>
</div>
