<div class="glass-services-dashboard-widget"
     [ngClass]="{'error': error}"
     fxLayout="row"
     fxLayoutAlign="center center">
  <div *ngIf="!error && firstLoadComplete && data.length === 0"
       class="glass-services-dashboard-widget-no-services">
    <p>No services deployed yet.</p>
    <button mat-raised-button
            routerLink="/installer/create/deployment">
      <span translate>Deploy a service</span>
    </button>
  </div>
  <div *ngIf="!error"
       class="glass-services-dashboard-widget-table"
       fxFlex
       fxLayout="column">
    <div *ngIf="!firstLoadComplete"
         class="glass-services-dashboard-widget-loader">
      <mat-progress-bar *ngIf="loading"
                        mode="indeterminate">
      </mat-progress-bar>
    </div>
    <glass-datatable *ngIf="firstLoadComplete && data.length > 0"
                     [data]="data"
                     [columns]="columns"
                     [pageSize]="5"
                     [hidePageSize]="true">
    </glass-datatable>
  </div>
  <mat-icon *ngIf="error"
            svgIcon="mdi:lan-disconnect">
  </mat-icon>
</div>
