@import 'styles.scss';

.glass-services-dashboard-widget {
  .glass-services-dashboard-widget-table {
    .glass-services-dashboard-widget-loader {
      height: 4px;
    }
  }
}
.glass-services-dashboard-widget.error {
  @extend .glass-color-theme-error;
  height: 50px;
}
