@import 'styles.scss';

.glass-install-config-page {
  height: 100%;
  background-color: $glass-color-primary;
  background-image: url('/assets/images/jeremy-bishop-1braZySlEKA-unsplash.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  ::ng-deep .mat-card {
    width: 50%;
    @extend .glass-color-theme-white;

    ::ng-deep .mat-card-header > .mat-card-header-text {
      margin-left: unset;
    }

    .mat-card.selected {
      border: 1px solid $glass-color-accent;
      color: $glass-color-white;
      background-color: rgba($glass-color-accent, 0.1);

      .mat-form-field .mat-form-field-wrapper {
        .mat-form-field-infix .mat-form-field-label,
        .mat-hint {
          color: $glass-color-white;
        }
        .mat-form-field-underline {
          background-color: $glass-color-white;
        }
      }
    }

    .mat-card {
      border: 1px solid transparent;
      color: $eos-bc-gray-300;

      .glass-card-last-child {
        margin-bottom: 0;
      }

      .mat-form-field .mat-form-field-wrapper {
        .mat-form-field-infix .mat-form-field-label,
        .mat-hint {
          color: $eos-bc-gray-300;
        }
        .mat-form-field-underline {
          background-color: $eos-bc-gray-300;
        }
      }
    }

    .mat-button {
      @extend .glass-color-theme-primary;
    }
  }
}
