<glass-widget [loadData]="loadData.bind(this)"
              title="{{ 'Services Capacity - Top 5' | translate }}"
              (loadDataEvent)="updateChartData($event)">
  <div class="glass-services-capacity-dashboard-widget"
       fxLayout="row"
       fxLayoutAlign="start start">
    <div *ngIf="chartData.length === 0"
         class="glass-services-capacity-dashboard-widget-no-services">
      <p translate>No services deployed yet.</p>
    </div>
    <ngx-charts-bar-horizontal *ngIf="chartData.length > 0"
                               [scheme]="colorScheme"
                               [results]="chartData"
                               [animations]="false"
                               [legend]="true"
                               [showDataLabel]="true"
                               [dataLabelFormatting]="dataLabelFormatting"
                               [roundEdges]="false"
                               [tooltipDisabled]="true">
    </ngx-charts-bar-horizontal>
  </div>
</glass-widget>
