<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of columns"
          scope="col">
        <span *ngIf="column.name">{{ column.name | translate }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of filteredData">
      <td *ngFor="let column of columns"
          [ngStyle]="{'text-align': !column?.align ? 'start' : column?.align}">
        <div *ngIf="!(column.cellTemplateName || column.cellTemplate)">{{ renderCellValue(row, column) }}</div>
        <ng-template *ngIf="column.cellTemplate"
                     [ngTemplateOutlet]="column.cellTemplate"
                     [ngTemplateOutletContext]="{ row: row, column: column, value: column.prop ? renderCellValue(row, column) : undefined }">
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex float-right">
  <select *ngIf="!hidePageSize"
          class="custom-select mr-2"
          [(ngModel)]="pageSize"
          (ngModelChange)="reloadData()">
    <option [ngValue]="5"
            translate>
      5 items per page
    </option>
    <option [ngValue]="10"
            translate>
      10 items per page
    </option>
    <option [ngValue]="25"
            translate>
      25 items per page
    </option>
    <option [ngValue]="50"
            translate>
      50 items per page
    </option>
    <option [ngValue]="100"
            translate>
      100 items per page
    </option>
  </select>
  <ngb-pagination [collectionSize]="data.length"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  (pageChange)="reloadData()">
  </ngb-pagination>
</div>

<ng-template #yesNoIconTpl
             let-value="value">
  <i *ngIf="value"
     [class]="icons.check">
  </i>
  <i *ngIf="!value"
     [class]="icons.minus">
  </i>
</ng-template>

<ng-template #checkIconTpl
             let-value="value">
  <i *ngIf="value"
     [class]="icons.check">
  </i>
</ng-template>

<ng-template #mapTpl
             let-value="value"
             let-column="column">
  <span>{{ value | map:column.cellTemplateConfig }}</span>
</ng-template>

<ng-template #iconTpl
             let-column="column">
  <i [ngClass]="column.cellTemplateConfig?.class"
     [class]="column.cellTemplateConfig.name">
  </i>
</ng-template>

<ng-template #actionMenuTpl
             let-column="column"
             let-row="row">
  <ng-template [ngTemplateOutlet]="renderActionButton"
               [ngTemplateOutletContext]="{ row: row, items: column.cellTemplateConfig(row) }">
  </ng-template>
</ng-template>

<ng-template #renderActionButton
             let-items="items"
             let-row="row">
  <button *ngIf="items.length"
          mat-icon-button
          [matMenuTriggerFor]="renderActionMenu"
          [matMenuTriggerData]="{items: items, row: row}">
    <mat-icon svgIcon="mdi:dots-vertical"></mat-icon>
  </button>
</ng-template>

<mat-menu #renderActionMenu="matMenu">
  <ng-template matMenuContent
               let-items="items"
               let-row="row">
    <button *ngFor="let item of items"
            mat-menu-item
            (click)="item.callback(row)">
      <span>{{ item.title | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
