th.sortable {
  cursor: pointer;

  & > i {
    padding-left: 0.25em;
    font-size: 1.25em;
    vertical-align: middle;
  }
}

td {
  .dropdown-toggle {
    text-decoration: none;

    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }
  }
}
