*.orig
*.patch
*.pyc
*.rej
*.swo
*.swp
*.tar.gz
.idea/
.mypy_cache/
.pytest_cache/
.python-version
.vagrant/
.vscode
__pycache__/
conf/
images/build/
src/.tox/
src/gravel/cephadm/cephadm.bin
tests/vagrant/deployments/
tests/vagrant/setups/
venv/
virtualenv/
wheelhouse/
