@import 'styles.scss';

.glass-fileservice-modal {
  ::ng-deep .mat-form-field {
    &.glass-form-field-no-underline {
      .mat-form-field-underline {
        visibility: hidden;
      }
    }

    &.glass-form-field-hint {
      margin-bottom: 10px;
    }

    &.mat-form-field-invalid {
      .mat-input-element {
        color: $glass-color-error;
      }
      .mat-slider {
        .mat-slider-track-fill,
        .mat-slider-thumb-label,
        .mat-slider-thumb,
        .mat-slider-focus-ring {
          background-color: $glass-color-error;
        }
      }
    }
  }
}
