@import 'styles.scss';

.glass-login-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #001b38;

  .glass-login-page-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $glass-color-theme-primary;
    background-image: url('/assets/images/qijin-xu-pSmXVhWr9kE-unsplash.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .glass-login-page-content {
    width: 100%;
    height: 100%;
  }
}
