<div class="glass-login-page"
     fxFlexFill
     fxLayout="row"
     fxLayoutAlign="start stretch">
  <div class="sidebar"
       fxLayout="column">
    <div class="header"
         fxLayout="row"
         fxLayoutAlign="start center">
      <div class="logo"></div>
      <div class="title"></div>
    </div>
    <div fxFlex></div>
    <div class="footer"></div>
  </div>
  <div class="main"
       fxFlex
       fxLayout="column"
       fxLayoutAlign="start stretch">
    <div class="header"
         fxLayout="row"
         fxLayoutAlign="start center">
      <div fxFlex></div>
      <glass-language-button></glass-language-button>
    </div>
    <div class="content"
         fxFlex
         fxLayout="column"
         fxLayoutAlign="center center">
      <glass-declarative-form [config]="config"></glass-declarative-form>
    </div>
    <div class="footer"></div>
  </div>
</div>
