@import 'styles.scss';

mat-icon {
  margin-right: 12px;
}

.mat-list-item {
  border-left: 5px solid transparent;
}
.mat-list-item:hover {
  border-left: 5px solid $eos-bc-cerulean-900;
}

.rotated {
  transform: rotate(180deg);
}
