@import 'styles.scss';

li {
  border-left: 5px solid transparent;
  cursor: pointer;

  a {
    color: $glass-color-menu-item-text;
  }

  &:hover {
    border-left: 5px solid $glass-color-menu-item-hover;
  }

  &.selected {
    background-color: $glass-color-menu-item-selected;

    a {
      color: $glass-color-menu-item-selected-text;
    }
  }

  &.has-subs {
    border-left: 5px solid transparent !important;

    &:hover {
      border-left: 5px solid $glass-color-menu-item-hover !important;
    }
  }
}

i {
  margin-right: $glass-margin;
}

.rotated {
  transform: rotate(90deg);
}
