@import 'styles.scss';

li {
  border-left: 5px solid transparent;

  &:hover,
  &.selected {
    border-left: 5px solid $eos-bc-yellow-500;
  }

  &.has-subs {
    border-left: 5px solid transparent !important;

    &:hover {
      border-left: 5px solid $eos-bc-yellow-500 !important;
    }
  }
}

i {
  margin-right: $glass-margin;
}

.rotated {
  transform: rotate(90deg);
}
