@import 'styles.scss';

.submenu {
  a {
    border-bottom: 3px solid;
    border-color: transparent;
    color: $glass-color-white;

    &.selected {
      border-color: $glass-submenu-color-selected;
    }

    &:hover {
      cursor: pointer;
      text-decoration: none;

      &:not(.selected) {
        border-color: $glass-submenu-color-hover;
      }
    }
  }

  .submenu-item {
    display: inline-block;
    padding: 12px 16px;
  }
}
