@import 'styles.scss';

.glass-breadcrumbs {
  @extend .h1;

  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    display: inline-block;
    position: relative;

    &.active {
      color: $glass-color-theme-primary;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &:not(.active):hover {
      color: $glass-color-black;
    }
  }
}
