@import 'styles.scss';

.glass-sys-info-dashboard-widget {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  .charts-section {
    margin-top: 0.25rem;
  }
}

.glass-sys-info-dashboard-widget.error {
  @extend .glass-color-theme-error;

  padding: 0;
  height: 50px;
}
