@import 'styles.scss';

$mat-typography-config: mat-typography-config();

.glass-sys-info-dashboard-widget {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  .glass-sys-info-dashboard-widget-cell {
    margin-bottom: 8px;

    &.cpu-load {
      .mat-card {
        padding: 8px;

        .value {
          font-size: mat-font-size($mat-typography-config, subheading-2);
        }
      }
    }
  }
}
.glass-sys-info-dashboard-widget.error {
  @extend .glass-color-theme-error;
  padding: unset;
  height: 50px;
}
