<div style="width: 70vw">
  <div matDialogTitle>
    <span>CephFS</span>
  </div>

  <div matDialogContent fxLayout="column" fxLayoutAlign="start center">
    
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span><strong>Available Space:</strong></span>
        <span style="width: 5px"></span>
        <span>{{availableSpace|bytesToSize}}</span>
      </div>
      <div style="width: 40px"></div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span><strong>Reserved Space:</strong></span>
        <span style="width: 5px"></span>
        <span>{{reservedSpace|bytesToSize}}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span [class.over-budget]="isOverBudget()">
        <strong>Raw Required Space:</strong>
      </span>
      <span style="width: 5px;"></span>
      <span [class.over-budget]="isOverBudget()">
        {{rawRequiredSpace|bytesToSize}}
      </span>
    </div>
    <div style="height: 40px"></div> <!-- spacer -->
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 80%;">
      <div>
        <mat-form-field>
          <mat-label>Service Name</mat-label>
          <input matInput [formControl]="nameFormCtrl"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span>(less replicas) <strong>Capacity</strong></span>
        <mat-slider style="width: 250px"
            min="1" max="3" step="1"
            (input)="onRedundancyChange($event)"
            [thumbLabel]="true"
            [value]="replicaNumber"
        ></mat-slider>
        <span><strong>Redundancy</strong> (more replicas)</span>
      </div>
      <div></div>
    </div>
    <div style="height: 20px"></div> <!-- spacer -->
    <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">
      <span><strong>Estimated Required Space:</strong></span>
      <mat-slider style="width: 70%"
          min="0" [max]="availableSpace" step="1"
          (input)="onSpaceChange($event)"
          value="0"
      ></mat-slider>
      <span [class.over-budget]="isOverBudget()">
        {{requiredSpace|bytesToSize}}
      </span>
    </div>
    <div style="height: 20px"></div> <!-- spacer -->
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 80%">
      <button mat-stroked-button (click)="onCancel()">Cancel</button>
      <span style="width: 20px"></span>
      <button mat-raised-button color="primary" type="submit"
          cdkFocusInitial (click)="onSubmit()"
          [disabled]="!isValid()"
      >Create</button>
    </div>

  </div>

</div>