<div class="glass-deployment-page"
     fxLayout="column"
     fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Node deployment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper linear="true">
        <mat-step>
          <ng-template matStepLabel>Inventory</ng-template>
          <ng-container [ngTemplateOutlet]="inventory"></ng-container>
          <button mat-icon-button
                  matTooltip="Cancel"
                  routerLink="/installer/install-mode">
            <mat-icon svgIcon="mdi:cancel"></mat-icon>
          </button>
          <button mat-button
                  matStepperNext>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Services deployment</ng-template>
          <ng-container [ngTemplateOutlet]="services"></ng-container>
          <button mat-icon-button
                  matTooltip="Back"
                  matStepperPrevious>
            <mat-icon svgIcon="mdi:arrow-left"></mat-icon>
          </button>
          <button mat-button
                  matStepperNext>Next</button>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Summary</ng-template>
          <ng-container [ngTemplateOutlet]="summary"></ng-container>
          <button mat-icon-button
                  matTooltip="Back"
                  matStepperPrevious>
            <mat-icon svgIcon="mdi:arrow-left"></mat-icon>
          </button>
          <button mat-button
                  matStepperNext>Deploy</button>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #inventory>
  Inventory!!!
</ng-template>

<ng-template #services>
  <mat-accordion class="service-panel-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>NFS</mat-panel-title>
        <mat-panel-description>
          Configure NFS service
          <mat-icon class="glass-color-accent" *ngIf="!nfs">
            add_circle_outline
          </mat-icon>
          <mat-icon class="glass-color-primary" *ngIf="nfs">
            check_circle_outline
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>iSCSI</mat-panel-title>
        <mat-panel-description>
          Configure iSCSI service
          <mat-icon class="glass-color-accent">
            add_circle_outline
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>CephFS</mat-panel-title>
        <mat-panel-description>
          Configure CephFS service
          <mat-icon class="glass-color-accent">
            add_circle_outline
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #summary>
  Summary!!!
</ng-template>
