<div class="glass-deployment-page"
     fxLayout="column"
     fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span translate>Node deployment</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper linear="true"
                            #deploymentStepper>
        <ng-template matStepperIcon="edit">
          <mat-icon svgIcon="mdi:check"></mat-icon>
        </ng-template>
        <mat-step>
          <div *ngIf="displayInventory"
               class="glass-deployment-page-step-content">
            <ng-template matStepLabel>
              <span translate>Inventory</span>
            </ng-template>
            <glass-datatable [data]="devices"
                             [columns]="devicesColumns"
                             [pageSize]="5"
                             [hidePageSize]="true">
            </glass-datatable>
            <button mat-button
                    class="mat-stepper-next"
                    (click)="chooseDevices()">
              <span translate>Deploy devices</span>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <div class="glass-deployment-page-step-content">
            <ng-template matStepLabel>
              <span translate>Services deployment</span>
            </ng-template>
            <ng-container [ngTemplateOutlet]="services"></ng-container>
            <button mat-button
                    (click)="markDeploymentFinished()">
              <span translate>Next</span>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <div class="glass-deployment-page-step-content">
            <ng-template matStepLabel>
              <span translate>Summary</span>
            </ng-template>
            <ng-container [ngTemplateOutlet]="summary"></ng-container>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #services>
  <mat-accordion class="service-panel-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>NFS</mat-panel-title>
        <mat-panel-description>
          {{ 'Configure NFS service' | translate }}
          <mat-icon *ngIf="!nfs"
                    class="glass-color-accent"
                    svgIcon="mdi:plus-circle-outline">
          </mat-icon>
          <mat-icon *ngIf="nfs"
                    class="glass-color-primary"
                    svgIcon="mdi:check-circle-outline">
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>iSCSI</mat-panel-title>
        <mat-panel-description>
          {{ 'Configure iSCSI service' | translate }}
          <mat-icon class="glass-color-accent"
                    svgIcon="mdi:plus-circle-outline">
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title translate>CephFS</mat-panel-title>
        <mat-panel-description>
          {{ 'Configure CephFS service' | translate }}
          <mat-icon class="glass-color-accent"
                    svgIcon="mdi:plus-circle-outline"
                    (click)="openCephfsDialog()">
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="cephfsList.length === 0">
        <span translate>No CephFS services configured</span>
      </div>

      <div *ngIf="cephfsList.length > 0"
           fxLayout="column"
           fxLayoutAlign="start start">
        <div *ngFor="let service of cephfsList"
             fxLayout="row"
             fxLayoutAlign="start center">
          <mat-icon svgIcon="mdi:nas"></mat-icon>
          <span>&nbsp;</span>
          <span>{{ service.name }} ({{ service.reservation | bytesToSize }})</span>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #summary>
  <div class="summary">
    <div fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap="16px"
         fxFlexFill>
      <div>
        <mat-icon *ngIf="deploymentSuccessful"
                  class="glass-icon-large"
                  svgIcon="mdi:check-circle-outline">
        </mat-icon>
        <mat-icon *ngIf="!deploymentSuccessful"
                  class="glass-icon-large"
                  svgIcon="mdi:close-circle-outline">
        </mat-icon>
      </div>
      <div *ngIf="deploymentSuccessful"
           fxLayout="column"
           fxLayoutAlign="center center">
        <p class="glass-text-center">
          <span translate>Your deployment was successful and is now ready to use.</span>
          <br>
          <span translate>You can now open your dashboard by clicking the button below.</span>
        </p>
        <button mat-button
                class="mat-stepper-next"
                routerLink="/dashboard">
          <span translate>Go to Dashboard</span>
        </button>
      </div>
      <div *ngIf="!deploymentSuccessful">
        <span translate>We are sorry, but your deployment was not successful.</span>
      </div>
    </div>
  </div>
</ng-template>
