<div class="glass-deployment-page"
     fxLayout="column"
     fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Node deployment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper linear="true"
                            #deploymentStepper>
        <ng-template matStepperIcon="edit">
          <mat-icon svgIcon="mdi:check"></mat-icon>
        </ng-template>
        <mat-step>
          <div *ngIf="displayInventory"
               class="glass-deployment-page-step-content">
            <ng-template matStepLabel>Inventory</ng-template>
            <ng-container [ngTemplateOutlet]="inventory"></ng-container>
            <button mat-button
                    class="mat-stepper-next"
                    (click)="chooseDevices()">Choose selected devices</button>
          </div>
        </mat-step>
        <mat-step>
          <div class="glass-deployment-page-step-content">
            <ng-template matStepLabel>Services deployment</ng-template>
            <ng-container [ngTemplateOutlet]="services"></ng-container>
            <button mat-button
                    matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step>
          <div class="glass-deployment-page-step-content">
            <ng-template matStepLabel>Summary</ng-template>
            <ng-container [ngTemplateOutlet]="summary"></ng-container>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #inventory>
  <table mat-table [dataSource]="devices"
         class="mat-elevation-z3">
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon svgIcon="mdi:server"></mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef> Path </th>
      <td mat-cell *matCellDef="let row"> {{ row.path }} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let row"> {{ row.human_readable_type }} </td>
    </ng-container>
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let row"> {{ row.size | bytesToSize }} </td>
    </ng-container>
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> Available </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon *ngIf="row.available"
                  style="color: green"
                  svgIcon="mdi:check">
        </mat-icon>
        <mat-icon *ngIf="!row.available"
                  style="color: red"
                  svgIcon="mdi:close">
        </mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['icon', 'path', 'type', 'size', 'available']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['icon', 'path', 'type', 'size', 'available'];"></tr>
  </table>
</ng-template>

<ng-template #services>
  <mat-accordion class="service-panel-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>NFS</mat-panel-title>
        <mat-panel-description>
          Configure NFS service
          <mat-icon *ngIf="!nfs"
                    class="glass-color-accent"
                    svgIcon="mdi:plus-circle-outline">
          </mat-icon>
          <mat-icon *ngIf="nfs"
                    class="glass-color-primary"
                    svgIcon="mdi:check-circle-outline">
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>iSCSI</mat-panel-title>
        <mat-panel-description>
          Configure iSCSI service
          <mat-icon class="glass-color-accent"
                    svgIcon="mdi:plus-circle-outline">
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>CephFS</mat-panel-title>
        <mat-panel-description>
          Configure CephFS service
          <mat-icon class="glass-color-accent"
                    svgIcon="mdi:plus-circle-outline">
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #summary>
  <div class="summary">
    <div fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap="5px"
         fxFlexFill>
      <div>
        <mat-icon svgIcon="mdi:check-circle-outline"
                  class="icon-large"
                  *ngIf="deploymentSuccessful">
        </mat-icon>
        <mat-icon svgIcon="mdi:close-circle-outline"
                  class="icon-large" *ngIf="!deploymentSuccessful">
        </mat-icon>
      </div>
      <div fxLayout="column"
           fxLayoutAlign="center center"
           *ngIf="deploymentSuccessful">
        <p>
          Your deployment was successful and is now ready to use.
        </p>
        <p>
          You can now open your dashboard by clicking the button below.
        </p>
        <p>
          <button mat-button
                  routerLink="/dashboard">
            Go to Dashboard</button>
        </p>
      </div>
      <div *ngIf="!deploymentSuccessful">
        I'm sorry, but your deployment was not successful.
      </div>
    </div>
  </div>
</ng-template>
