@import 'styles.scss';

.glass-deployment-page {
  height: 100%;
  background-color: $glass-color-primary;
  background-image: url('./../../../assets/images/jeremy-bishop-1braZySlEKA-unsplash.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .mat-card {
    width: 50%;
    @extend .glass-theme-white;

    ::ng-deep .mat-card-header > .mat-card-header-text {
      margin-left: unset;
    }

    ::ng-deep .mat-card-content mat-vertical-stepper {
      background-color: $glass-color-transparent;

      .mat-step {
        .mat-stepper-vertical-line::before {
          border-left-color: $glass-color-white;
        }

        .mat-step-header {
          pointer-events: none !important;

          .mat-step-label {
            color: $glass-color-white;
          }

          .mat-step-icon {
            color: $glass-color-white;
            background-color: $glass-color-transparent;
          }

          .mat-step-icon-selected,
          .mat-step-icon-state-done,
          .mat-step-icon-state-edit {
            background-color: $glass-color-primary;
          }
        }
        .mat-step-header:hover {
          @extend .glass-theme-white;
        }

        .glass-deployment-page-step-content {
          .mat-table {
            width: 100%;
          }
          .mat-button {
            margin-top: 8px;
          }
        }
      }
    }

    .mat-button.mat-stepper-next {
      @extend .glass-theme-primary;
    }
  }
}

.service-panel-align .mat-expansion-panel-header-title,
.service-panel-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.service-panel-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.service-panel-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.summary {
  height: 220px;

  .icon-large {
    font-size: 120px;
    width: 120px;
    height: 120px;
  }
}
