<div class="glass-services-page"
     fxLayout="column">
  <div class="glass-services-page-actions"
       fxLayout="row"
       fxLayoutAlign="start center">
    <button mat-flat-button
            [matMenuTriggerFor]="servicesMenu">
      <span translate>Add</span>
    </button>
  </div>
  <div class="glass-services-page-content">
    <mat-card>
      <mat-progress-bar *ngIf="!firstLoadComplete && loading"
                        mode="indeterminate">
      </mat-progress-bar>
      <glass-datatable [data]="data"
                       [columns]="columns"
                       [autoReload]="15000"
                       (loadData)="loadData()">
      </glass-datatable>
    </mat-card>
  </div>
</div>

<mat-menu #servicesMenu="matMenu">
  <button mat-menu-item
          (click)="onAddService()">
    <span translate>File Service</span>
  </button>
</mat-menu>
