@import 'styles.scss';

.glass-installer-layout {
  height: 100%;
  background-color: $glass-color-primary;
  background-image: url('./../../../../assets/images/mohamed-ahsan-pV4utCVv6vk-unsplash.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: auto;
}
