<div class="glass-install-mode-page"
     fxLayout="column"
     fxLayoutAlign="center center">
  <div fxLayout="row"
       fxLayoutGap="16px">
    <div class="card"
         fxFlex="50"
         fxLayout="column">
      <div class="card-header">
        <div class="card-title"
             translate>
          Create new cluster
        </div>
      </div>
      <div class="card-body">
        <p class="card-text"
           translate>
          Setup will create a new deployment from scratch, configuring this node as a standalone storage solution.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-actions">
          <button type="button"
                  class="btn btn-warning"
                  routerLink="/installer/create">
            <i class="mdi mdi-plus"></i>
            <span translate>Create</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card"
         fxFlex="50"
         fxLayout="column">
      <div class="card-header">
        <div class="card-title"
             translate>
          Join existing cluster
        </div>
      </div>
      <div class="card-body">
        <p class="card-text"
           translate>
          Setup will search for existing deployments in the network and be assimilated.
        </p>
      </div>
      <div class="card-footer">
        <div class="card-actions">
          <button type="button"
                  class="btn btn-warning"
                  routerLink="/installer/join">
            <i class="mdi mdi-merge"></i>
            <span translate>Join</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
