@import 'styles.scss';

.glass-install-mode-page {
  height: 100%;
  background-color: $glass-color-primary;
  background-image: url('./../../../assets/images/mohamed-ahsan-pV4utCVv6vk-unsplash.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .mat-card {
    width: 50%;
    @extend .glass-theme-white;

    ::ng-deep .mat-card-header > .mat-card-header-text {
      margin-left: unset;
    }

    .mat-card-content {
      .mat-button {
        @extend .glass-background-color-primary;
        height: 100px;
      }
    }

    .glass-install-mode-description {
      @extend .glass-text-center;
    }
  }
}
