@import 'styles.scss';

.glass-capacity-dashboard-widget {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;

  canvas.error {
    display: none !important;
  }
}
.glass-capacity-dashboard-widget.error {
  @extend .glass-color-theme-error;
  height: 50px;
}
