<glass-widget [loadData]="loadData.bind(this)"
              title="Capacity"
              (loadDataEvent)="updateChartData($event)">
  <div class="glass-capacity-dashboard-widget"
       fxLayout="row"
       fxLayoutAlign="start start">
    <ngx-charts-advanced-pie-chart [scheme]="colorScheme"
                                   [results]="chartData"
                                   [animations]="false"
                                   [view]="[500,175]"
                                   [tooltipDisabled]="true"
                                   [valueFormatting]="valueFormatting.bind(this)">
    </ngx-charts-advanced-pie-chart>
  </div>
</glass-widget>
