<div class="glass-capacity-dashboard-widget"
     [ngClass]="{'error': error}"
     fxLayout="row"
     fxLayoutAlign="center center">
  <ng-container *ngIf="!error">
    <ngx-charts-advanced-pie-chart [scheme]="colorScheme"
                                   [results]="chartData"
                                   [animations]="false"
                                   [tooltipDisabled]="true"
                                   [valueFormatting]="valueFormatting.bind(this)">
    </ngx-charts-advanced-pie-chart>
  </ng-container>
  <mat-icon *ngIf="error"
            svgIcon="mdi:lan-disconnect">
  </mat-icon>
</div>
