<glass-content-page [pageStatus]="pageStatus"
                    fxLayout="column">
  <div class="page-actions"
       fxLayout="row"
       fxLayoutAlign="end center">
    <button type="button"
            class="btn"
            (click)="onShowToken()">
      <span translate>Authentication Token</span>
    </button>
  </div>
  <div class="page-content">
    <glass-datatable [data]="data"
                     [columns]="columns"
                     [autoReload]="30000"
                     (loadData)="loadData()">
    </glass-datatable>
  </div>
</glass-content-page>
