[Unit]
Description=Update motd with current network configuration
After=network.target

[Service]
User=root
ExecStart=/usr/bin/update_motd.sh 

[Install]
WantedBy=multi-user.target
