# -*- mode: ruby -*-
# vim: set ft=ruby

Vagrant.configure("2") do |config|
    config.vm.box = "{{BOXNAME}}"
    config.vm.synced_folder "{{ROOTDIR}}", "/srv/backend", type: "nfs"
    config.vm.synced_folder ".", "/vagrant", disabled: true

    config.vm.define :"node01", primary: true do |node|
        node.vm.hostname = "node01"

        node.vm.provider "libvirt" do |lv|
            lv.memory = 1024
            lv.cpus = 1
            lv.storage :file, size: "8G", type: "qcow2", serial: "01123456"
            lv.storage :file, size: "8G", type: "qcow2", serial: "01789101"
            lv.storage :file, size: "8G", type: "qcow2", serial: "01112131"
            lv.storage :file, size: "8G", type: "qcow2", serial: "01415161"
        end
    end

    config.vm.define :"node02" do |node|
        node.vm.hostname = "node02"

        node.vm.provider "libvirt" do |lv|
            lv.memory = 1024
            lv.cpus = 1
            lv.storage :file, size: "8G", type: "qcow2", serial: "02123456"
            lv.storage :file, size: "8G", type: "qcow2", serial: "02789101"
            lv.storage :file, size: "8G", type: "qcow2", serial: "02112131"
            lv.storage :file, size: "8G", type: "qcow2", serial: "02415161"
        end
    end
end