@import 'styles.scss';

.glass-top-bar {
  background-color: $glass-color-site-header-background;
  height: $glass-site-header-height;

  ::ng-deep .btn {
    color: $glass-color-submenu-item-text;
  }
}
