$glass-color-transparent: transparent;
$glass-color-white: white;

$eos-green-palette: (
  50: #e6f7ef,
  100: #c1ead7,
  200: #98ddbc,
  300: #6ecfa1,
  400: #4fc48c,
  500: #30ba78,
  600: #2bb370,
  700: #24ab65,
  800: #1ea35b,
  900: #139448,
  A100: #c7ffdc,
  A200: #94ffbc,
  A400: #61ff9c,
  A700: #47ff8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$eos-bc-red-500: #dc3545;
$eos-red-palette: (
  50: #fbe7e9,
  100: #f5c2c7,
  200: #ee9aa2,
  300: #e7727d,
  400: #e15361,
  500: #dc3545,
  600: #d8303e,
  700: #d32836,
  800: #ce222e,
  900: #c5161f,
  A100: #fff6f7,
  A200: #ffc3c6,
  A400: #ff9095,
  A700: #ff777c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$eos-cerulean-palette: (
  50: #e0f6fc,
  100: #b3e8f6,
  200: #80d9f1,
  300: #4dc9eb,
  400: #26bee6,
  500: #00b2e2,
  600: #00abdf,
  700: #00a2da,
  800: #0099d6,
  900: #008acf,
  A100: #f6fcff,
  A200: #c3e8ff,
  A400: #90d5ff,
  A700: #77cbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
