@import '~@angular/material/theming';
@import 'defaults.scss';

@include mat-core();

$glass-light-theme: mat-light-theme(
  mat-palette($eos-green-palette),
  mat-palette($eos-cerulean-palette),
  mat-palette($eos-red-palette)
);

@include angular-material-theme($glass-light-theme);

$glass-color-primary: mat-color(map-get($glass-light-theme, primary));
$glass-color-primary-complementary: white;
$glass-color-accent: mat-color(map-get($glass-light-theme, accent));
$glass-color-accent-complementary: white;

.glass-theme-primary {
  color: $glass-color-primary-complementary;
  background-color: $glass-color-primary;
}
.glass-theme-accent {
  color: $glass-color-accent-complementary;
  background-color: $glass-color-accent;
}
.glass-theme-white {
  color: $glass-color-white;
  background-color: rgba(255, 255, 255, 0.1);
}

.glass-background-color-primary {
  background-color: $glass-color-primary;
}

.glass-text-pre-wrap {
  white-space: pre-wrap;
}
.glass-text-pre {
  white-space: pre;
}
.glass-text-center {
  text-align: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
