@import '~@angular/material/theming';
@import 'defaults.scss';

@include mat-core();

$glass-light-theme: mat-light-theme(
  mat-palette($eos-green-palette),
  mat-palette($eos-cerulean-palette),
  mat-palette($eos-red-palette)
);

@include angular-material-theme($glass-light-theme);

$glass-color-primary: mat-color(map-get($glass-light-theme, primary));
$glass-color-primary-complementary: white;
$glass-color-accent: mat-color(map-get($glass-light-theme, accent));

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
