# project aquarium's boot setup
# Copyright (C) 2021 SUSE, LLC.

[Unit]
Description=Aquarium Boot Setup Service
After=sysinit.target
Before=chronyd.service network.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/share/aquarium/boot/aqrbootsetup.sh

[Install]
WantedBy=chronyd.service network.target
