ngx-charts-advanced-pie-chart .advanced-pie-legend {
  .legend-items-container .legend-items {
    overflow: initial;

    .legend-item {
      .item-value {
        font-size: 16px;
      }
      .item-percent {
        font-size: 16px;
      }
      .item-label {
        font-size: 12px;
      }
    }
  }

  .total-label {
    font-size: 12px;
  }

  .total-value {
    font-size: 20px;
  }
}
