@use '~@angular/material' as mat;

.glass-dashboard-page {
  gridster {
    margin: 24px;
    background: unset;

    gridster-item {
      @include mat.elevation(1);
      box-shadow: unset;
    }
  }
}
