<div class="glass-dashboard-page">
  <div class="row">
    <div class="widget col-12 col-md-6 col-lg-4">
      <glass-health-dashboard-widget></glass-health-dashboard-widget>
      <div class="m-4"></div>
      <glass-load-dashboard-widget></glass-load-dashboard-widget>
    </div>
    <glass-memory-dashboard-widget class="widget col-12 col-md-6 col-lg-4"></glass-memory-dashboard-widget>
    <glass-sys-info-dashboard-widget class="widget col-12 col-lg-4"></glass-sys-info-dashboard-widget>
    <glass-events-dashboard-widget class="widget col-12 col-xxl-6"></glass-events-dashboard-widget>
    <glass-volumes-dashboard-widget class="widget col-12 col-xxl-6"></glass-volumes-dashboard-widget>
  </div>
</div>
