@import 'styles.scss';

.glass-dashboard-page {
  margin: $glass-margin;

  .content {
    margin-top: $glass-margin;

    gridster {
      background: unset;

      gridster-item {
        box-shadow: unset;
      }
    }
  }
}
