<div class="glass-dashboard-page"
     fxLayout="column">

  <div class="header">
    <div ngbDropdown>
      <button class="btn btn-outline-default"
              ngbDropdownToggle
              translate>
        Settings
      </button>
      <div ngbDropdownMenu>
        <button *ngFor="let widget of widgets | sortBy:['title']"
                ngbDropdownItem
                (click)="onToggleWidget(widget.id)">
          <i *ngIf="!enabled.includes(widget.id)"
             class="{{ icons.checkboxBlank }} mr-1">
          </i>
          <i *ngIf="enabled.includes(widget.id)"
             class="{{ icons.checkboxMarked }} mr-1">
          </i>
          <span>{{ widget.title | translate }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <gridster [options]="gridsterConfig">
      <gridster-item *ngFor="let item of gridsterItems"
                     [item]="item">
        <ng-container [ngSwitch]="item.type">
          <ng-template [ngSwitchCase]="'performance'">
            <glass-performance-dashboard-widget></glass-performance-dashboard-widget>
          </ng-template>
          <ng-template [ngSwitchCase]="'volumes'">
            <glass-volumes-dashboard-widget></glass-volumes-dashboard-widget>
          </ng-template>
          <ng-template [ngSwitchCase]="'health'">
            <glass-health-dashboard-widget></glass-health-dashboard-widget>
          </ng-template>
          <ng-template [ngSwitchCase]="'sysInfo'">
            <glass-sys-info-dashboard-widget></glass-sys-info-dashboard-widget>
          </ng-template>
        </ng-container>
      </gridster-item>
    </gridster>
  </div>
</div>
