<?xml version="1.0" encoding="utf-8"?>
<!-- OBS-Profiles: @BUILD_FLAVOR@ -->
<image schemaversion="7.2" name="project-aquarium" displayname="Project Aquarium">
    <description type="system">
    <author>Aquarium Project</author>
    <contact>alau@suse.com</contact>
        <specification>
            Project Aquarium is an easy to use, rock solid storage appliance based on Ceph
        </specification>
    </description>
    <profiles>
        <!-- Aquarium and ceph packages stuff -->
        <profile
            name="Aquarium-base"
            description="Aquarium and Ceph base requirements"
        />

        <!--
            MicroOS Added - Copy mostly from openSUSE-MicroOS build and added
            the ceph bits
        -->
        
        <!-- Flavors -->
        <profile
            name="ContainerHost"
            description="Aquarium + MicroOS with container runtime (podman)"
        />

        <!-- Platforms -->
        <profile name="kvm-and-xen" description="kvm-and-xen" arch="x86_64">
            <requires profile="Aquarium-base"/>
        </profile>
        <profile name="VMware" description="VMware for x86_64" arch="x86_64">
            <requires profile="Aquarium-base"/>
        </profile>
        <profile
            name="MS-HyperV"
            description="Hyper-V for x86_64"
            arch="x86_64"
        >
            <requires profile="Aquarium-base"/>
        </profile>
        <profile
            name="OpenStack-Cloud"
            description="OpenStack Cloud"
            arch="x86_64"
        >
            <requires profile="Aquarium-base"/>
        </profile>
        <profile
            name="DigitalOcean-Cloud"
            description="DigitalOcean Cloud"
            arch="x86_64"
        >
            <requires profile="Aquarium-base"/>
        </profile>
        <profile
            name="VirtualBox"
            description="VirtualBox for x86_64"
            arch="x86_64"
        >
            <requires profile="Aquarium-base"/>
        </profile>        
        <profile name="Vagrant" description="Vagrant for x86_64" arch="x86_64">
            <requires profile="Aquarium-base"/>
        </profile>
        <profile
            name="SelfInstall"
            description="Self Installing Image"
            arch="x86_64"
        >
            <requires profile="Aquarium-base"/>
        </profile>
        <profile name="onie" description="ONIE Installer Image" arch="x86_64">
            <requires profile="Aquarium-base"/>
        </profile>

        <!-- Images (flavor + platform) -->
        <profile
            name="ContainerHost-kvm-and-xen"
            description="Aquarium + MicroOS with Podman for KVM and HVM Xen"
            arch="x86_64"
        >
            <requires profile="kvm-and-xen"/>
            <requires profile="ContainerHost"/>
        </profile>
        <profile
            name="ContainerHost-VMware"
            description="Aquarium + MicroOS with Podman for VMware"
            arch="x86_64"
        >
            <requires profile="VMware"/>
            <requires profile="ContainerHost"/>
        </profile>
        <profile
            name="ContainerHost-MS-HyperV"
            description="Aquarium + MicroOS with Podman for Hyper-V"
            arch="x86_64"
        >
            <requires profile="MS-HyperV"/>
            <requires profile="ContainerHost"/>
        </profile>
        <profile
            name="ContainerHost-OpenStack-Cloud"
            description="Aquarium + MicroOS with Podman for OpenStack Cloud"
            arch="x86_64"
        >
            <requires profile="OpenStack-Cloud"/>
            <requires profile="ContainerHost"/>
        </profile>
        <profile
            name="ContainerHost-Vagrant"
            description="Aquarium + MicroOS with Podman for Vagrant"
            arch="x86_64"
        >
            <requires profile="Vagrant"/>
            <requires profile="ContainerHost"/>
        </profile>
    </profiles>

    <preferences profiles="kvm-and-xen" arch="x86_64">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="qcow2"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=qemu"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <size unit="G">20</size>
        </type>
    </preferences>
    <preferences profiles="onie">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="qcow2"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 net.ifnames=0 \$ignition_firstboot ignition.platform.id=qemu"
            bootpartition="false"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
        >
            <bootloader
                name="grub2"
                console="serial"
                serial_line="serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1"
            />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="var" copy_on_write="false"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
        </type>
    </preferences>
    <preferences profiles="VMware">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="vmdk"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=vmware"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <size unit="G">24</size>
            <machine memory="1024" HWversion="10" guestOS="suse-64"/>
        </type>
    </preferences>
<preferences profiles="OpenStack-Cloud" arch="x86_64">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="qcow2"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=openstack"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <size unit="G">24</size>
        </type>
    </preferences>

    <preferences profiles="DigitalOcean-Cloud" arch="x86_64">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="qcow2"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=digitalocean"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <size unit="G">24</size>
        </type>
    </preferences>
    <preferences profiles="MS-HyperV">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="vhdx"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes rootdelay=300 console=ttyS0,115200 console=tty0 earlyprintk=ttyS0,115200 net.ifnames=0 \$ignition_firstboot ignition.platform.id=metal"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" timeout="10" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <!-- Microsoft wants 30GB images -->
            <size unit="G">30</size>
        </type>
    </preferences>
    <preferences profiles="VirtualBox">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>

        <!--
            MicroOS remove: I don't remember why
            kernelcmdline="root=/dev/sda3 disk=/dev/sda" is not needed here
        -->
        <type
            image="vmx"
            filesystem="btrfs"
            format="vdi"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=virtualbox"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <size unit="G">20</size>
        </type>
    </preferences>

    <preferences profiles="Vagrant" arch="x86_64">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="vmx"
            filesystem="btrfs"
            format="vagrant"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=metal"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
            spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="btrfs" spare_part_is_last="true" spare_part_fs_attributes="no-copy-on-write"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
            </systemdisk>
            <vagrantconfig provider="libvirt" virtualsize="24"/>
            <size unit="G">24</size>
        </type>
    </preferences>

    <preferences profiles="SelfInstall">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="oem"
            filesystem="btrfs"
            firmware="uefi"
            initrd_system="dracut"
            installiso="true"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=metal"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
            btrfs_root_is_snapshot="true"
            btrfs_root_is_readonly_snapshot="true"
            btrfs_quota_groups="true"
        >
            <bootloader name="grub2" console="gfxterm" />
            <systemdisk>
                <volume name="home"/>
                <volume name="root"/>
                <volume name="tmp"/>
                <volume name="opt"/>
                <volume name="srv"/>
                <volume name="boot/grub2/i386-pc"/>
                <volume name="boot/grub2/x86_64-efi"
                        mountpoint="boot/grub2/x86_64-efi"/>
                <volume name="boot/writable"/>
                <volume name="usr/local"/>
                <volume name="var" copy_on_write="false"/>
            </systemdisk>
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>

    <!-- Aquarium Added: user start -->
    <users>
         <user
            password="aquarium"
            home="/home/aquarium"
            name="aquarium"
            groups="aquarium"
            pwdformat="plain"
        />
    </users>

    <users profiles="Vagrant">
        <user password="vagrant"
              home="/home/vagrant"
              name="vagrant"
              groups="vagrant"
              pwdformat="plain"
        />
    </users>
    <!-- Aquarium Added: user done -->

    <!-- Aquarium Added: repo start -->
    <repository type="rpm-md" alias="kiwi" priority="1">
        <source path="obs://Virtualization:Appliances:Builder/openSUSE_Tumbleweed"/>
    </repository>

    <repository type="rpm-md" alias="Tumbleweed_OSS">
        <source path='https://download.opensuse.org/tumbleweed/repo/oss'/>
    </repository>
    <!-- Aquarium Added: repo done -->

    <packages type="image">
        <package name="live-add-yast-repos"/>
        <!--
            Apparently zypper (?) doesn't like having multiple patterns with
            the same name, so avoid using namedCollection at least for
            basesystem
        -->
        <package name="patterns-microos-base"/>
        <package name="patterns-microos-basesystem"/>
        <package name="patterns-microos-base-zypper"/>
        <package name="patterns-base-bootloader"/>
        <package name="patterns-microos-defaults"/>
        <package name="kernel-default"/>
    </packages>

    <packages
        type="image"
        profiles="kvm-and-xen,VMware,MS-HyperV,VirtualBox,Vagrant,DigitalOcean-Cloud"
    >
        <!--
            Needed for initial configuration, except on OpenStack-Cloud, where
            cloud-init is used
        -->
        <!--
            On ONIE, the installer does the partitioning and salt is used for
            configuration
        -->
        <package name="ignition-dracut"/>
        <package name="combustion"/>
        <package name="growpart-generator"/>
    </packages>
    
    <packages type="image" profiles="ContainerHost">
        <namedCollection name="container_runtime"/>
        <package name="patterns-containers-container_runtime"/>
        <namedCollection name="microos_apparmor"/>
        <package name="patterns-microos-apparmor"/>
    </packages>
        
    <packages type="image" profiles="kvm-and-xen">
        <!-- KVM and Xen specific packages -->
        <package name="xen-tools-domU" arch="x86_64"/>
        <package name="qemu-guest-agent"/>
    </packages>
    <packages type="image" profiles="VMware">
        <package name="open-vm-tools" arch="x86_64"/>
    </packages>
    <packages type="image" profiles="MS-HyperV">
        <package name="hyper-v" arch="x86_64"/>
    </packages>
    <packages type="image" profiles="OpenStack-Cloud">
        <namedCollection name="microos_cloud"/>
        <package name="patterns-microos-cloud"/>
    </packages>
    <packages type="image" profiles="VirtualBox">
        <package name="virtualbox-guest-tools"/>
    </packages>
    
    <packages type="image" profiles="Vagrant">
        <!-- vagrant-libvirt uses nfs for synced folders -->
        <package name="nfs-client"/>
        <!-- Aquarium Added: adds entropy to Vagrant boxes -->
        <package name="haveged"/>
    </packages>
    <packages type="image" profiles="onie">
        <package name="patterns-microos-hardware"/>
        <!-- Fix choice between kernel-firmware and kernel-firmware-all -->
        <package name="kernel-firmware-all"/>
        <package name="salt-minion"/>
        <archive name="onie.tar.gz"/>
    </packages>
    <packages type="image" profiles="SelfInstall">
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
        <!-- Fix choice between kernel-firmware and kernel-firmware-all -->
        <package name="kernel-firmware-all"/>
        <!-- Aquarium needed not sure need to be added yet
        <package name="dracut-kiwi-live"/>
        <package name="dracut-kiwi-lib"/>
         -->
    </packages>

    <packages type="image" profiles="Aquarium-base" patternType="onlyRequired"> 
        <!-- not sure needed
        <package name="syslinux"/>
        -->
        <package name="lvm2"/>
        <package name="chrony"/>
        <package name="tuned"/>
        <package name="python38-pip"/>
        <package name="python38-aiofiles"/>
        <package name="python38-requests"/>
        <package name="python38-PyYAML"/>
        <package name="python3-rados"/>
        <package name="etcdctl"/>
        <!-- Needed for pip install from git repo -->
        <package name="git"/>

        <archive name="aquarium.tar.gz"/>
        <archive name="root.tar.gz"/>
        <archive name="aquarium_user.tar.gz"/>
    </packages>

    <packages type="bootstrap">
        <!--
            Avoid that zypper picks the busybox-foo variant for those, that
            would fail later
        -->
        <package name="coreutils"/>
        <package name="gawk"/>
        <package name="gzip"/>
        <package name="hostname"/>
        <!-- Avoid libressl -->
        <package name="openssl"/>

        <!-- Aquarium required : podman -->
        <package name="btrfsprogs"/>
        <package name="fuse-overlayfs"/>
        <package name="udev"/>
        <package name="xz"/>
        <package name="grep"/>
        <package name="issue-generator"/>

        <!-- Aquarium added: Vagrant sudo-->
        <package name="sudo"/>
        <package name="openssh"/>
        <package name="openssh-server"/>
        <!--
            This requires openssl, and so avoids that zypper picks libressl
            here
        -->
        <package name="mokutil"/>

        <!-- Aquarium added: network utilities -->
        <package name="iputils"/>
        <package name="iproute2"/>
        <package name="wicked"/>

        <!-- Aquarium added: groupadd is no longer in base package -->
        <package name="shadow"/>

        <package name="filesystem"/>
        <package name="glibc-locale-base"/>
        <!-- So that https repos work for image package downloads -->
        <package name="ca-certificates-mozilla"/>
        <!-- TODO: Use the proper flavors once available -->
        <package name="MicroOS-release"/>
    </packages>

</image>
