<?xml version="1.0" encoding="utf-8"?>
<!-- OBS-Profiles: @BUILD_FLAVOR@ -->
<image schemaversion="6.8" name="project-aquarium-microOS" displayname="Project Aquarium's MicroOS">
    <description type="system">
        <author>Aquarium Project</author>
        <contact>alau@suse.com</contact>
        <specification>
            Aquarium Appliance, is an up and running storage image that wrapped around ceph.
        </specification>
    </description>
    <profiles>
        <!-- Ceph foo -->
        <profile name="Ceph-base" description="Ceph requirements"/>
        <!-- Profiles used as dependencies of actual image profiles -->
        <!-- Flavors -->
	    <!-- <profile name="ContainerHost" description="Aquarium with container runtime (podman)"/> -->
        <!-- Platforms -->
        <profile name="Vagrant-VirtualBox-x86_64" description="Vagrant for x86_64 VirtualBox" arch="x86_64"/>
        <profile name="Vagrant-x86_64" description="Vagrant for x86_64 libvirt" arch="x86_64"/>
        <profile name="Vagrant" description="Vagrant" arch="x86_64">
            <requires profile="Vagrant-x86_64"/>
        </profile>
        <profile name="SelfInstall" description="Self Installing Image" arch="x86_64"/>
        <!-- Images (flavor + platform) -->
	<!--
        <profile name="ContainerHost-Vagrant" description="MicroOS with Podman for Vagrant" arch="x86_64">
            <requires profile="Vagrant-x86_64"/>
            <requires profile="ContainerHost"/>
        </profile>
	-->
        <profile name="Vagrant-VirtualBox" description="MicroOS with Podman for Vagrant" arch="x86_64">
            <requires profile="Vagrant-VirtualBox-x86_64"/>
        </profile>
        <profile name="SelfInstall" description="MicroOS with Podman for SelfInstallation" arch="x86_64">
            <requires profile="SelfInstall"/>
        </profile>
        <profile name="Ceph" description="Ceph for Host install" arch="x86_64">
            <requires profile="SelfInstall"/>
            <requires profile="Ceph-base"/>
        </profile>
        <!-- default vagrant images using libvirt, optional virtualbox -->
        <profile name="Ceph-Vagrant-VirtualBox" description="Ceph for Vagrant Host with VirtualBox" arch="x86_64">
            <requires profile="Vagrant-VirtualBox"/>
            <requires profile="Ceph-base"/>
        </profile>
        <profile name="Ceph-Vagrant" description="Ceph for Vagrant Host with libvirt" arch="x86_64">
            <requires profile="Vagrant"/>
            <requires profile="Ceph-base"/>
        </profile>
    </profiles>
    <preferences>
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>
    <preferences profiles="Vagrant-x86_64">
        <type
            image="oem"
            filesystem="ext4"
            format="vagrant"
            bootloader="grub2"
            bootloader_console="gfxterm"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=metal root=/dev/vda1 disk=/dev/vda"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
        >
            <vagrantconfig provider="libvirt" virtualsize="24"/>
            <size unit="G">24</size>
        </type>
    </preferences>
    <preferences profiles="Vagrant-VirtualBox-x86_64">
        <type
            image="oem"
            filesystem="ext4"
            format="vagrant"
            bootloader="grub2"
            bootloader_console="gfxterm"
            firmware="uefi"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=metal root=/dev/vda1 disk=/dev/vda"
            bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
        >
            <vagrantconfig provider="virtualbox" virtualsize="24"/>
            <size unit="G">24</size>
        </type>
    </preferences>
    <preferences profiles="SelfInstall">
        <type
            image="oem"
            filesystem="ext4"
            bootloader="grub2"
            bootloader_console="gfxterm"
            firmware="uefi"
            initrd_system="dracut"
            installiso="true"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0 \$ignition_firstboot ignition.platform.id=qemu"
            devicepersistency="by-uuid"
        >
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
        <type
            image="iso"
            primary="true"
            flags="overlay"
            hybridpersistent_filesystem="ext4"
            hybridpersistent="true"
            kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0"
            devicepersistency="by-uuid"/>
    </preferences>
    <users>
         <user password="suse1234" home="/root" name="root" groups="root" pwdformat="plain"/>
	 <user password="vagrant" home="/home/vagrant" name="vagrant" groups="vagrant" pwdformat="plain"/>
         <user password="aquarium" home="/home/aquarium" name="aquarium" groups="aquarium"  pwdformat="plain"/>
    </users>

    <repository type="rpm-md" alias="kiwi" priority="1">
        <source path="obs://Virtualization:Appliances:Builder/openSUSE_Tumbleweed"/>
    </repository>

    <repository type="rpm-md" alias="Tumbleweed_OSS">
        <source path='https://download.opensuse.org/tumbleweed/repo/oss'/>
    </repository>
    <packages type="image">
        <package name="live-add-yast-repos"/>
        <!-- Apparently zypper (?) doesn't like having multiple patterns with the same name,
             so avoid using namedCollection at least for basesystem -->
        <package name="patterns-base-base"/>
        <package name="patterns-base-bootloader"/>
        <package name="kernel-default"/>
    </packages>

    <packages type="image" profiles="Ceph-base" patternType="onlyRequired"> 
        <package name="lvm2"/>
        <package name="chrony"/>
        <package name="tuned"/>
        <package name="python38-pip"/>
        <package name="python38-aiofiles"/>
        <package name="python38-requests"/>
        <package name="python3-rados"/>
        <package name="python38-websockets"/>
        <archive name="aquarium.tar"/>
    </packages>

    <packages type="image" profiles="Vagrant-x86_64">
        <!-- Needed for initial configuration, except on OpenStack-Cloud, where cloud-init is used -->
        <package name="ignition-dracut"/>
        <package name="combustion"/>
        <package name="growpart-generator"/>
    </packages>
    <packages type="image" profiles="Vagrant,Vagrant-x86_64,Vagrant-VirtualBox-x86_64,Vagrant-aarch64">
        <!-- vagrant-libvirt uses nfs for synced folders -->
        <package name="nfs-client"/>
    </packages>
    <packages type="image" profiles="SelfInstall">
        <package name="dracut-kiwi-oem-dump"/>
        <package name="kernel-firmware-all"/> <!-- Fix choice between kernel-firmware and kernel-firmware-all -->
        <package name="dracut-kiwi-live"/>
        <package name="dracut-kiwi-lib"/>
        <package name="syslinux"/>
        <archive name="aquarium_user.tar"/>
    </packages>

    <packages type="bootstrap">
        <!-- Avoid that zypper picks the busybox-foo variant for those, that would fail later -->
        <package name="udev"/>
        <package name="coreutils"/>
        <package name="xz"/>
        <package name="grep"/>
        <package name="gzip"/>
        <package name="gawk"/>

        <!-- Vagrant sudo-->
        <package name="sudo"/>
        <package name="openssh"/>
        <package name="openssh-server"/>

        <!-- This requires openssl, and so avoids that zypper picks libressl here -->
        <package name="mokutil"/>

        <package name="filesystem"/>
        <package name="glibc-locale-base"/>
        <!-- So that https repos work for image package downloads -->
        <package name="ca-certificates-mozilla"/>
        <package name="dracut-kiwi-oem-repart"/>

	<!-- container for ceph to run on -->
        <namedCollection name="container_runtime"/>
        <package name="patterns-containers-container_runtime"/>
    </packages>
</image>
