<glass-widget [loadData]="loadData.bind(this)"
              title="Volumes"
              (loadDataEvent)="updateData($event)">
  <div class="glass-volumes-dashboard-widget"
       fxLayout="row"
       fxLayoutAlign="center center">
    <div class="glass-volumes-dashboard-widget-table"
         fxFlex
         fxLayout="column">
      <glass-datatable [data]="data"
                       [columns]="columns"
                       [pageSize]="5"
                       [hidePageSize]="true">
      </glass-datatable>
    </div>
  </div>
</glass-widget>
