<button mat-icon-button
        class="glass-language-button"
        matTooltip="{{ 'Language' | translate }}"
        [matMenuTriggerFor]="languageMenu">
  <mat-icon svgIcon="mdi:earth"></mat-icon>
</button>

<mat-menu #languageMenu="matMenu">
  <button *ngFor="let language of languages | keyvalue"
          mat-menu-item
          [ngClass]="{'active': language.key === currentLanguage}"
          [disabled]="language.key === currentLanguage"
          (click)="onSelectLanguage(language.key)">
    <span>{{ language.value }}</span>
  </button>
</mat-menu>
