<div ngbDropdown
     class="d-inline-block">
  <button class="btn btn-outline-default"
          ngbDropdownToggle
          translate>
    Language
  </button>
  <div ngbDropdownMenu>
    <button *ngFor="let language of languages | keyvalue"
            ngbDropdownItem
            [ngClass]="{'active': language.key === currentLanguage}"
            [disabled]="language.key === currentLanguage"
            (click)="onSelectLanguage(language.key)">
      {{ language.value }}
    </button>
  </div>
</div>
