@import 'styles.scss';

.glass-declarative-form {
  .title {
    @extend .h3;
  }
}

.form-divider {
  .title {
    @extend .h4;
  }

  hr {
    @extend .mt-1;
    @extend .mb-1;

    width: 100%;
  }
}

.form-paragraph {
  .text {
    @extend .text-muted;
    @extend .mb-2;
  }
}

.form-container {
  align-items: baseline;

  .form-container-item:not(:first-child) {
    @extend .ml-2;
  }
}

.form-actions {
  *:not(:first-child) {
    @extend .ml-2;
  }
}

.col-form-label.required::after {
  color: $glass-color-danger;
  content: '*';
}
