<div class="glass-welcome-page">
  <div class="glass-welcome-page-background"></div>
  <div class="glass-welcome-page-content"
       fxLayout="column"
       fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title translate>Aquarium</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span translate>Welcome to Aquarium - Our take on an opinionated storage appliance. To get started on your first deployment, click below. We are in the initial phases of development and welcome feature and bug reports. See our <a href="https://github.com/aquarist-labs/aquarium">project</a> for more details.</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button
                routerLink="/installer/install-mode">
          <span translate>Continue</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
