<div class="glass-welcome-page"
     fxLayout="column"
     fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <h1>Welcome to Aquarim</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor quam convallis hendrerit lacinia. Integer consectetur metus eu nibh fringilla, ac lobortis nisl porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec at purus odio.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              routerLink="/installer/insttype">
        Next
      </button>
  </mat-card-actions>
  </mat-card>
</div>
