<glass-content-page [pageStatus]="pageStatus"
                    fxLayout="column">
  <div class="page-actions"
       fxLayout="row"
       fxLayoutAlign="end center">
    <button type="button"
            class="btn"
            routerLink="/dashboard/users/create">
      <span translate>Add</span>
    </button>
  </div>
  <div class="page-content">
    <glass-datatable [data]="data"
                     [columns]="columns"
                     [autoReload]="15000"
                     (loadData)="loadData()">
    </glass-datatable>
  </div>
</glass-content-page>
