<div class="glass-users-page"
     fxLayout="column">
  <div class="page-actions"
       fxLayout="row"
       fxLayoutAlign="end center">
    <button type="button"
            class="btn"
            routerLink="/dashboard/users/create">
      <span translate>Add</span>
    </button>
  </div>
  <div class="glass-users-page-content">
    <div *ngIf="!firstLoadComplete && loading"
         class="progress">
      <div class="progress-bar indeterminate"></div>
    </div>
    <glass-datatable [data]="data"
                     [columns]="columns"
                     [autoReload]="15000"
                     (loadData)="loadData()">
    </glass-datatable>
  </div>
</div>
