<h1 mat-dialog-title>{{ config.title }}</h1>
<mat-dialog-content class="mat-typography">
  <glass-declarative-form [config]="config"></glass-declarative-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="config.okButtonVisible"
          mat-flat-button
          cdkFocusInitial
          [class]="config.okButtonClass"
          (click)="onOK()">
    {{ config.okButtonText! | translate }}
  </button>
  <button *ngIf="config.cancelButtonVisible"
          mat-flat-button
          [class]="config.cancelButtonClass"
          [mat-dialog-close]="config.cancelButtonResult">
    {{ config.cancelButtonText! | translate }}
  </button>
</mat-dialog-actions>
