<div class="modal-header">
  <div class="modal-title">{{ config.title }}</div>
</div>
<div class="modal-body">
  <glass-declarative-form [config]="config.formConfig"></glass-declarative-form>
</div>
<div class="modal-footer">
  <div class="modal-actions">
    <button *ngIf="config.cancelButtonVisible"
            type="button"
            class="btn btn-outline-default"
            [class]="config.cancelButtonClass"
            (click)="onCancel()">
      {{ config.cancelButtonText! | translate }}
    </button>
    <glass-submit-button *ngIf="config.submitButtonVisible"
                         [form]="form?.formGroup"
                         [formId]="config.formConfig.id"
                         (buttonClick)="onSubmit()">
      {{ config.submitButtonText! | translate }}
    </glass-submit-button>
  </div>
</div>
