<div fxLayout="column"
     fxLayoutAlign="start stretch">
  <span class="glass-devices-step-subtitle"
        translate>
    The following devices have been identified in the system and will be automatically added to the storage management.
  </span>
  <glass-datatable [data]="disks"
                   sortHeader="path"
                   [columns]="devicesColumns">
  </glass-datatable>
</div>

<ng-template #availableTpl
             let-value="value"
             let-row="row">
  <i *ngIf="value"
     [class]="icons.check">
  </i>
  <i *ngIf="!value"
     class="glass-cursor-help"
     [class]="icons.minus"
     [title]="row.rejectedReasons.join(', ')">
    <span class="ml-1 badge badge-danger">{{ row.rejectedReasons.length }}</span>
  </i>
</ng-template>
