<div class="glass-not-found-page mat-typography"
     fxLayoutAlign="center center">
  <div fxLayout="column"
       fxLayoutAlign="center center">
    <mat-icon class="glass-icon-3x"
              svgIcon="mdi:fishbowl-outline">
    </mat-icon>
    <h1 translate>Sorry, we could not find what you are looking for.</h1>
    <button mat-icon-button
            matTooltip="{{ 'Back' | translate }}"
            routerLink="/">
      <mat-icon svgIcon="mdi:arrow-left"></mat-icon>
    </button>
  </div>
</div>
