<div *ngIf="icon || config.title"
     mat-dialog-title>
  <mat-icon *ngIf="icon"
            svgIcon="{{ icon }}">
  </mat-icon>
  <div *ngIf="config.title">{{ config.title | translate }}</div>
</div>
<mat-dialog-content class="mat-typography">
  <span [innerHTML]="config.message | translate"></span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="button2Visible"
          mat-flat-button
          cdkFocusInitial
          [mat-dialog-close]="button2Result">
    {{ button2Text | translate }}
  </button>
  <button *ngIf="button1Visible"
          mat-flat-button
          [class]="button1Class"
          [mat-dialog-close]="button1Result">
    {{ button1Text | translate }}
  </button>
</mat-dialog-actions>
