<glass-widget [loadData]="loadData.bind(this)"
              title="Health"
              [setStatus]="setHealthStatusIndicator.bind(this)"
              (loadDataEvent)="setHealthStatus($event)">
  <div class="glass-health-dashboard-widget"
       [class.glass-color-theme-ok]="isOkay"
       [class.glass-color-theme-error]="isError || !hasStatus"
       [class.glass-color-theme-warn]="isWarn"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxFlexFill>
    <i *ngIf="isOkay"
       class="mdi mdi-thumb-up"></i>
    <i *ngIf="isError"
       class="mdi mdi-thumb-down"></i>
    <i *ngIf="isWarn"
       class="mdi mdi-alert-circle-outline"></i>
    <span class="glass-health-dashboard-widget-text">{{ statusText }}</span>
  </div>
</glass-widget>
