<glass-widget [loadData]="loadData.bind(this)"
              title="Health"
              (loadDataEvent)="setHealthStatus($event)">
  <div class="glass-health-dashboard-widget"
       [class.glass-color-theme-ok]="isOkay"
       [class.glass-color-theme-error]="isError || !hasStatus"
       [class.glass-color-theme-warn]="isWarn"
       fxLayout="row"
       fxLayoutAlign="center center">
    <mat-icon *ngIf="isOkay"
              svgIcon="mdi:thumb-up">
    </mat-icon>
    <mat-icon *ngIf="isError"
              svgIcon="mdi:thumb-down">
    </mat-icon>
    <mat-icon *ngIf="isWarn"
              svgIcon="mdi:alert-circle-outline">
    </mat-icon>
  </div>
</glass-widget>
