<div role="group"
     class="input-group"
     [formGroup]="formGroup"
     fxLayout="row"
     fxLayoutAlign="start center">
  <input #segment1
         class="form-control"
         [ngClass]="{'is-invalid': errorState}"
         type="text"
         formControlName="segment1"
         maxLength="4"
         size="4"
         (input)="doInput(formGroup.controls.segment1, segment2)"
         (paste)="onPaste($event)">
  <div class="separator"></div>
  <input #segment2
         class="form-control"
         [ngClass]="{'is-invalid': errorState}"
         type="text"
         formControlName="segment2"
         maxLength="4"
         size="4"
         (input)="doInput(formGroup.controls.segment2, segment3)"
         (keyup.backspace)="autoFocusPrev(formGroup.controls.segment2, segment1)"
         (paste)="onPaste($event)">
  <div class="separator"></div>
  <input #segment3
         class="form-control"
         [ngClass]="{'is-invalid': errorState}"
         type="text"
         formControlName="segment3"
         maxLength="4"
         size="4"
         (input)="doInput(formGroup.controls.segment3, segment4)"
         (keyup.backspace)="autoFocusPrev(formGroup.controls.segment3, segment2)"
         (paste)="onPaste($event)">
  <div class="separator"></div>
  <input #segment4
         class="form-control"
         [ngClass]="{'is-invalid': errorState}"
         type="text"
         formControlName="segment4"
         maxLength="4"
         size="4"
         (input)="doInput(formGroup.controls.segment3, segment4)"
         (keyup.backspace)="autoFocusPrev(formGroup.controls.segment4, segment3)"
         (paste)="onPaste($event)">
</div>
