<div class="glass-install-wizard-page"
     fxLayout="column"
     fxLayoutAlign="start start">
  <ul ngbNav
      #nav="ngbNav"
      [(activeId)]="activeId"
      class="nav-tabs">
    <li [ngbNavItem]="pageIndex.start"
        [disabled]="true">
      <a ngbNavLink
         fxLayout="row"
         fxLayoutAlign="start center">
        <i class="mdi mdi-numeric-{{ pageIndex.start }}-circle glass-icon-2x"></i>
        <span class="ml-1"
              translate>
          Start
        </span>
      </a>
      <ng-template ngbNavContent>
        <b translate>Welcome!</b>
        <p translate>This wizard will guide you through the installation process to set up a node from scratch.</p>
        <div class="nav-actions">
          <button type="button"
                  class="btn btn-outline-default"
                  routerLink="/installer/install-mode">
            <span translate>Cancel</span>
          </button>
          <button type="button"
                  class="btn btn-submit ml-2"
                  (click)="nav.select(pageIndex.networking)">
            <span translate>Next</span>
          </button>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="pageIndex.networking"
        [disabled]="true">
      <a ngbNavLink
         fxLayout="row"
         fxLayoutAlign="start center">
        <i class="mdi mdi-numeric-{{ pageIndex.networking }}-circle glass-icon-2x"></i>
        <span class="ml-1"
              translate>
          Networking
        </span>
      </a>
      <ng-template ngbNavContent>
        <glass-hostname-step #networkingStep
                             [context]="context">
        </glass-hostname-step>
        <div class="nav-actions">
          <button type="button"
                  class="btn btn-outline-default"
                  (click)="networkingStep.updateContext(); nav.select(pageIndex.start)">
            <span translate>Previous</span>
          </button>
          <button type="button"
                  class="btn btn-submit ml-2"
                  [disabled]="!networkingStep.completed"
                  (click)="networkingStep.updateContext(); nav.select(pageIndex.time)">
            <span translate>Next</span>
          </button>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="pageIndex.time"
        [disabled]="true">
      <a ngbNavLink
         fxLayout="row"
         fxLayoutAlign="start center">
        <i class="mdi mdi-numeric-{{ pageIndex.time }}-circle glass-icon-2x"></i>
        <span class="ml-1"
              translate>
          Time
        </span>
      </a>
      <ng-template ngbNavContent>
        <glass-ntp-step #timeStep
                        [context]="context">
        </glass-ntp-step>
        <div class="nav-actions">
          <button type="button"
                  class="btn btn-outline-default"
                  (click)="timeStep.updateContext(); nav.select(pageIndex.networking)">
            <span translate>Previous</span>
          </button>
          <button type="button"
                  class="btn btn-submit ml-2"
                  [disabled]="!timeStep.completed"
                  (click)="timeStep.updateContext(); nav.select(pageIndex.devices)">
            <span translate>Next</span>
          </button>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="pageIndex.devices"
        [disabled]="true">
      <a ngbNavLink
         fxLayout="row"
         fxLayoutAlign="start center">
        <i class="mdi mdi-numeric-{{ pageIndex.devices }}-circle glass-icon-2x"></i>
        <span class="ml-1"
              translate>
          Devices
        </span>
      </a>
      <ng-template ngbNavContent>
        <glass-local-devices-step></glass-local-devices-step>
        <div class="nav-actions">
          <button type="button"
                  class="btn btn-outline-default"
                  (click)="nav.select(pageIndex.time)">
            <span translate>Previous</span>
          </button>
          <button type="button"
                  class="btn btn-submit ml-2"
                  (click)="nav.select(pageIndex.installation)">
            <span translate>Next</span>
          </button>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="pageIndex.installation"
        [disabled]="true">
      <a ngbNavLink
         fxLayout="row"
         fxLayoutAlign="start center">
        <i class="mdi mdi-numeric-{{ pageIndex.installation }}-circle glass-icon-2x"></i>
        <span class="ml-1"
              translate>
          Installation
        </span>
      </a>
      <ng-template ngbNavContent>
        <glass-alert-panel type="info"
                           noColor>
          <span translate>Aquarium will now install and setup the core system. All recognized storage devices are automatically assigned. Afterwards, you will be able to configure the services you want to provide.</span>
        </glass-alert-panel>
        <div class="nav-actions mt-3">
          <button *ngIf="!['bootstrapping', 'bootstrapped'].includes(context.stage)"
                  type="button"
                  class="btn btn-outline-default"
                  (click)="nav.select(pageIndex.devices)">
            <span translate>Previous</span>
          </button>
          <button type="button"
                  class="btn btn-submit ml-2"
                  (click)="startBootstrap()">
            <span translate>Install</span>
          </button>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="pageIndex.finish"
        [disabled]="true">
      <a ngbNavLink
         fxLayout="row"
         fxLayoutAlign="start center">
        <i class="mdi mdi-numeric-{{ pageIndex.finish }}-circle glass-icon-2x"></i>
        <span class="ml-1"
              translate>
          Finish
        </span>
      </a>
      <ng-template ngbNavContent>
        <glass-alert-panel type="success"
                           noColor>
          <span translate>Your deployment was successful and is now ready to use. You can now open your dashboard by clicking the button below.</span>
        </glass-alert-panel>
        <div class="nav-actions mt-3">
          <button type="button"
                  class="btn btn-submit"
                  routerLink="/dashboard">
            <span translate>Go to Dashboard</span>
          </button>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"
       fxFill
       class="mt-3">
  </div>
</div>
