<block-ui class="mat-typography">
  <mat-sidenav-container autosize>
    <mat-sidenav #navigationSidenav
                 position="start"
                 [mode]="sideNavMode"
                 [opened]="sideNavOpened">
      <glass-navigation-bar></glass-navigation-bar>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
      <glass-top-bar [navigationSidenav]="navigationSidenav"></glass-top-bar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</block-ui>
