@import 'styles.scss';

$navigation-width: 15rem;

.glass-main-layout {
  &.navigation-collapsed {
    .navigation {
      margin-left: -$navigation-width;
    }

    .main {
      margin-left: 0;
    }
  }

  .navigation {
    background-color: $glass-color-menu-background;
    height: 100%;
    left: 0;
    margin-left: 0;
    max-width: $navigation-width;
    min-width: $navigation-width;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    z-index: 1000;

    header {
      color: $glass-color-site-header-text;
      background-color: $glass-color-site-header-background;
      height: $glass-site-header-height;
      padding-left: 1.5rem;

      .logo {
        background-image: url('/assets/images/aquarium-logo.svg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 2rem;
        width: 2rem;
      }

      .title {
        font-family: $glass-font-family-headings;
        font-size: 1.5rem;
        font-weight: lighter;
        padding-left: $glass-padding;

        &:after {
          content: 'Aquarium';
        }
      }
    }
  }

  .main {
    margin-left: $navigation-width;
    transition: all 0.3s;

    header {
      overflow-x: clip;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1030;
    }
  }
}
