<block-ui>
  <div class="glass-main-layout"
       [ngClass]="{'navigation-collapsed': navigationCollapsed}">
    <aside class="navigation">
      <nav>
        <header fxLayout="row"
                fxLayoutAlign="start center">
          <div class="logo"></div>
          <div class="title"></div>
        </header>
        <glass-navigation-bar></glass-navigation-bar>
      </nav>
    </aside>
    <div class="main">
      <header>
        <glass-top-bar (toggleNavigation)="navigationCollapsed = !navigationCollapsed"></glass-top-bar>
      </header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</block-ui>
