@import 'styles.scss';

.glass-main-layout {
  height: 100%;

  .navigation {
    background-color: $glass-color-menu-background;
    margin-left: -15rem;
    max-width: 15rem;
    min-width: 15rem;
    transition: all 0.3s;

    &.visible {
      margin-left: 0;
    }

    header {
      color: $glass-color-site-header-text;
      background-color: $glass-color-site-header-background;
      height: $glass-site-header-height;
      padding-left: 1.5rem;

      .logo {
        background-image: url('/assets/images/aquarium-logo.svg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 2rem;
        width: 2rem;
      }

      .title {
        font-family: $glass-font-family-headings;
        font-size: 1.5rem;
        font-weight: lighter;
        padding-left: $glass-padding;

        &:after {
          content: 'Aquarium';
        }
      }
    }
  }

  .main {
    .content {
      overflow: scroll;
    }
  }
}
